*{
    margin: 0px;
    padding: 0px;
}
div{
    height: 15vh;
    text-transform: uppercase;
}
.container-fluid{
    box-shadow: 0 5px 10px;
    color:blue;
}
.logo{
    height:90px;
    padding: 2px 10px;
}
.navbar-nav{
    color:green;
}
.container{
    padding:10px;
    text-transform: uppercase;
}
.big-text{
    font-size: 50px;
    margin:20px 0px;
    color:greenyellow;

}
a.btn-first{
    margin:30px 10px;
    width:150px;
    padding: 10px;
    border-radius: 20px;
    background: transparent;
    border:1px solid orange;
    color:palegoldenrod;
}
a.btn-first:hover{
    background: palegreen;
    border:none;
    color:papayawhip;
    box-shadow: 5px 5px 10px;
    transition: 0.3s;
}